<!DOCTYPE html>
<head>
</head>
<body style="background-image: url(https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?cs=srgb&dl=pexels-guillaume-meurice-1591447.jpg&fm=jpg)
 ; background-size: 100% 250%;">
<form class="login" action="home" method="POST" align="center" >

 <table align="center" width=500 height=100% >

 <h1><b><i>
      Login Page
  </h1><tr></tr><tr></tr><tr>



   <td> <input input type="text" id="username" placeholder="Enter username"  style="width: 400px;" ></td></tr><tr></tr><tr></tr><tr></tr>
    <tr><td><input type="password" id="password" placeholder="Enter password"  style="width: 400px;"></td></tr><tr></tr><tr></tr><tr></tr>
    <tr><td><input align="center" type="submit" name="Login Page" value="signin"  display: "block"style="width:60px;"></td></tr></tr>
 </table>
</form>
</body>
</html>




